doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Site Search DB
    link(rel="stylesheet", href="styles.css")
  body
    div.container
      header
        h1 Site Search DB
        div.controls
          input#filter(type="text" placeholder="Filter..." aria-label="Filter")
          select#engine(name="engine" aria-label="Select Engine")
            each engine in engines
              option(
                value=engine.name,
                data-uri=engine.uri,
                selected=engine.name === engines[0].name
              )= engine.name

          button#export(type="button") Export

      main#entry-list
        each shortcut in shortcuts
          article.entry
            input(type="checkbox" aria-label=`Select ${shortcut.name}`)
            div.info
              h2.name= shortcut.name
              div.shortcut
                span Shortcut:
                code= shortcut.shortcut
              div.url
                | #{engines[0].uri}%s+site:#{shortcut.site}

    script(type="module", src="script.js")
